body {

	
}

.chess-board {
	position: relative;
	width:400px;
	border: 1px solid black;
}
	.line {
		overflow: hidden;
	}
	.cell {
		width: 48px;    
		height: 48px;
		float: left;
		border: 1px solid #422D03;
	}
	.cell:hover {
		cursor: pointer;
		border: 1px solid #fff;
	}
	.white {
		background: #EAD6AC;
	}
	.black {
		background: #422D03;
	}

	/* Figure STARTS*/
		.figure{
			width: 50px;
			height: 50px;
			position: absolute;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain
		}
		.top-figure .figure{
			top:0;
		}
		.f-w-rook{
			background-image: url(../img/white_rook.png);
		}
		
		.f-w-knight{
			background-image: url(../img/white_knight.png);
		}
		.f-w-bishop{
			background-image: url(../img/white_bishop.png);
		}
		.f-w-queen{
			background-image: url(../img/white_queen.png);
		}
		.f-w-king{
			background-image: url(../img/white_king.png);
		}
		.top-figure .f-w-pawn{
			top:50px;
			background-image: url(../img/white_pawn.png);
		}
		#f-w-rook-1 {
			left:0px;
		}
		#f-w-knight-1 {
			left:50px;
		}
		#f-w-bishop-1 {
			left:100px;
		}
		#f-w-queen {
			left:150px;
		}
		#f-w-king {
			left:200px;
		}
		#f-w-bishop-2 {
			left:250px;
		}
		#f-w-knight-2 {
			left: 300px;
		}
		#f-w-rook-2 {
			left: 350px;
		}
		#f-w-pawn-1 {
			left:0px;
		}
		#f-w-pawn-2 {
			left:50px;
		}
		#f-w-pawn-3 {
			left:100px;
		}
		#f-w-pawn-4 {
			left:150px;
		}
		#f-w-pawn-5 {
			left:200px;
		}
		#f-w-pawn-6 {
			left:250px;
		}
		#f-w-pawn-7 {
			left: 300px;
		}
		#f-w-pawn-8 {
			left: 350px;
		}
		/*Bottom*/
		.bottom-figure .figure{
			bottom: 0px;
		}
		.f-b-rook{
			background-image: url(../img/white_rook.png);
		}
		
		.f-b-knight{
			background-image: url(../img/white_knight.png);
		}
		.f-b-bishop{
			background-image: url(../img/white_bishop.png);
		}
		.f-b-queen{
			background-image: url(../img/white_queen.png);
		}
		.f-b-king{
			background-image: url(../img/white_king.png);
		}
		.bottom-figure .f-b-pawn{
			bottom:50px;
			background-image: url(../img/white_pawn.png);
		}
		#f-b-rook-1 {
			left:0px;
		}
		#f-b-knight-1 {
			left:50px;
		}
		#f-b-bishop-1 {
			left:100px;
		}
		#f-b-queen {
			left:150px;
		}
		#f-b-king {
			left:200px;
		}
		#f-b-bishop-2 {
			left:250px;
		}
		#f-b-knight-2 {
			left: 300px;
		}
		#f-b-rook-2 {
			left: 350px;
		}
		#f-b-pawn-1 {
			left:0px;
		}
		#f-b-pawn-2 {
			left:50px;
		}
		#f-b-pawn-3 {
			left:100px;
		}
		#f-b-pawn-4 {
			left:150px;
		}
		#f-b-pawn-5 {
			left:200px;
		}
		#f-b-pawn-6 {
			left:250px;
		}
		#f-b-pawn-7 {
			left: 300px;
		}
		#f-b-pawn-8 {
			left: 350px;
		}		
	/* Figure END*/
